body {
    width: 10rem;
    border: 50px solid blue;
    background-color: grey;
}

.wrap {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
align-content: space-around;
/* list-style: none;
margin: 0;
padding: 0;
width: 800px;
height: 300px; */
border: 50px solid blue;

&__titles {
    font-family: Arial, Times, serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

}
.colours__description {
    font-weight: 400px;
    color: red;
}